script#companyPageLayoutTemplate(type='text/template')
    section.ifun-hp__searchBlock
        div.if-inputGroup
            input.js-searchInput
            button.ifun-icon.ifun-icon--search.js-searchPhoto
    section#galleryRegion
