script#navBarTemplate(type='text/template')
    button.ifun-icon.ifun-icon--menu.js-menu.ifun-nav__menu
    .ifun-nav__logo.ifun-icon.ifun-icon--smile
    ul
        li.ifun-nav__item
            a.ifun-icon.ifun-icon--home.js-goToPage(href='#/') Главная
        li.ifun-nav__item
            a.ifun-icon.ifun-icon--home.js-goToPage(href='#gallery') Галлерея
