$bodyColor = #fff;
$mainColor = #48A770;
$activeColor = #2c774b;
$textColor = #404040;

$fontFamily-base = Arial, Helvetica, sans-serif;

$fontSize-base = 14px;

$lineHeight-base = 1.428571429;

$icon-fontPath = '/dist/fonts/'
$icon-fontName = 'icons';